.gutterRow{
  height: 100%;
  display: flex;
  flex-direction:column
}

.titleInpuut{
  border: none;
  width: 100%;
  height:50px;
  font-size: 30px;
  outline:0px;
  text-indent: 2em;
}
.quillTxt{
  flex: 1;
  flex-direction:column
}
:global(.quill ){
  height: 95%;
}
