._header_top {
  border-bottom: 1px solid #f0f0f0;
  height: 50px;
  background: #fff;
}

._header {
  margin: 0 auto;
  min-width: 768px;
  max-width: 1440px;
  ._header_nvader {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
    ._header_ul {
      display: flex;
      width: 100%;
      ._header_lileft {
        flex: 1;
        font-size: 27px;
        font-weight: 600;
        h2 {
          width: 60px;
          color: #ea6f5a;
          cursor: pointer;
        }
      }
      ._header_licont {
        flex: 1.5;
      }
      ._header_liright {
        flex: 1;
        ._h_liright_ul_lia {
          padding: 0px 15px;
        }
        ._h_tignt_ta {
          padding: 0px 15px;
          height: 50px;
          span {
            top: 5px;
            position: relative;

            // position: absolute;
            line-height: 38px;
          }
          ._touxiang_icon {
            top: -5px;
            position: relative;
          }

          ._h_tignt_tb {
            border: 1px solid #ddd;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-block;
          }
        }
      }
    }
  }

  .lig:hover {
    background-color: #f5f5f5;
  }
  ._h_licont_ul {
    span {
      color: #ea6f5a;
    }
    li {
      cursor: pointer;
      padding: 0px 15px;
    }
    display: flex;
    li:first-child {
      color: #ea6f5a;
    }
    ._header_input {
      height: 38px;
      display: inline-flex;
      border-radius: 40px;
      margin-top: 6px;
      border: 1px solid #f0f0f0;
      overflow: hidden;
      input {
        width: 100%;
        border-radius: 40px;
        border: none;
        border-bottom: 1px solid white !important;
        box-shadow: none;
      }
    }
  }
  ._h_liright_ul {
    display: flex;
    li {
      cursor: pointer;
    }
    ._h_right_li {
      text-align: center;
      float: right;
      width: 100px;
      height: 40px;
      line-height: 40px;
      margin: 4px 12px 0;
      border-radius: 20px;
      font-size: 15px;
      color: #fff;
      background-color: #ea6f5a;
    }
  }

  ._h_xiaoxi_li {
    // font-size: 15px;
    // span {
    margin-right: 15px;
    // font-size: 24px;
    color: #ea6f5a;
    // }
  }
}

.ant-dropdown-menu-item {
  color: #ea6f5a;
}
