.rightlits {
  width: 29.16667%;
  ._rightimg {
    width: 280px;
    img {
      width: 100%;
      min-height: 50px;
      margin-bottom: 6px;
      border-radius: 4px;
    }
  }
  ._rightCode {
    margin-bottom: 30px;
    padding: 10px 22px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #fff;
    img {
      width: 60px;
      height: 60px;
      opacity: 0.85;
    }
    dd {
      display: inline-block;
      vertical-align: middle;
      margin-left: 7px;
    }
  }
}
