.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.headercont {  
  padding-top: 30px;
  padding-right: 0;
  width: 66.66667%;
  background: rgb(236, 236, 236);
}
